html {
  box-sizing: border-box;
  font-size: 100%;
}

main {
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tgi_img {
  width: 60%;
  margin: .25rem;
}

.svg-img {
  cursor: pointer;
}


/** Styling for feather.svg */
#feather-svg {
  transition: transform .3s ease-in-out;
}

#feather-svg:hover {
  transform: translateY(-.5rem);
}

.feather-piece {
  fill: #000;  
  transition: fill .2s ease-in;
}

#feather-svg:active .f-red {
  fill: #CC0000;
}

#feather-svg:active .f-yel-ora {
  fill: #FF9900;
}

#feather-svg:active .f-ora {
  fill: #FF6600;
}

#feather-svg:active .f-yel {
  fill: #FFCC33;
}

/** Styling for record_player.svg */
@keyframes spin {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

#rec-needle {
  transition: transform .2s ease-in-out;
  transform-origin: 87% 25%;
}

#record_player-svg:hover #rec-needle {
  transform: rotate(5deg);
}

#record_player-svg:active #rec-needle {
  transform: rotate(23deg);
}

#record {
  transform-origin: 42%;
}

#record_player-svg:active #record {
  animation: spin 1s linear .25s infinite both;
}

/** Styling for tgi_logo-workmark.svg */
#tgi-the, #tgi-ghost, #tgi-inside {
  transition: transform .1s ease-in-out;
}

#tgi_wordmark-svg:active #tgi-inside,
#tgi_wordmark-svg:hover #tgi-inside {
  transform: translateX(-3%);
}

#tgi_wordmark-svg:active #tgi-the,
#tgi_wordmark-svg:hover #tgi-the {
  transform: translateX(18%);
}

#tgi_wordmark-svg:active #tgi-ghost,
#tgi_wordmark-svg:hover #tgi-ghost {
  transform: translateX(3%);
}

/** Styling for tgi_logo-icon.svg */
#tgi-icon-circle {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

#tgi_icon-svg:active #tgi-icon-circle,
#tgi_icon-svg:hover #tgi-icon-circle {
  opacity: 1;
}

#tgi-icon-bottom_tri {
  transform: translateY(-13.32%);
  transition: transform .2s ease-in-out;
}

#tgi_icon-svg:active #tgi-icon-bottom_tri,
#tgi_icon-svg:hover #tgi-icon-bottom_tri {
  transform: translateY(0);
}

@media screen and (min-width: 480px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .tgi_img {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(3, 340px);
  }
}

@media screen and (min-width: 1280px) {
  main {
    grid-template-columns: repeat(4, 340px);
  }
}