html {
  box-sizing: border-box;
  font-size: 100%;
}

main {
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tgi_img {
  width: 60%;
  margin: .25rem;
}


/** Styling for feather.svg */
#feather-svg {
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

#feather-svg:hover {
  transform: translateY(-.5rem);
}

.feather-piece {
  fill: #000;  
  transition: fill .2s ease-in;
}

#feather-svg:active .f-red {
  fill: #CC0000;
}

#feather-svg:active .f-yel-ora {
  fill: #FF9900;
}

#feather-svg:active .f-ora {
  fill: #FF6600;
}

#feather-svg:active .f-yel {
  fill: #FFCC33;
}

/** Styling for record_player.svg */
#record_player-svg:hover {
  cursor: pointer;
}



@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .tgi_img {
    width: 75%;
  }
}

@media screen and (min-width: 1280px) {
  main {
    grid-template-columns: repeat(3, 340px);
  }
}