html {
  box-sizing: border-box;
  font-size: 100%;
}

main {
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tgi_img {
  width: 60%;
  margin: .25rem;
}

#feather-svg {
  fill: #000;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .tgi_img {
    width: 75%;
  }
}

@media screen and (min-width: 1280px) {
  main {
    grid-template-columns: repeat(3, 340px);
  }
}