/*Mobile First*/

body {
	margin: 0px;
	background-color: #000;
	color: #fff;
}

#wrapper {
	margin: 0px;
}


/*Phone landscape*/
@media screen and (min-width : 480px) {
	#saw, #flame, #fish, #bugle {
		float: left;
		width: 50%;
	}
}


/*Tablet*/
@media screen and (min-width : 768px) {
	#saw, #flame, #fish, #bugle {
		width: 33.3%;
	}
}


/*Desktop*/
@media screen and (min-width : 1280px) {
	#saw, #flame, #fish, #bugle {
		width: 25%;
	}
}

/* SVG */

#saw-svg:hover {
	cursor: pointer;
}

#blade {
	fill: #fff;
	stroke: #000;

	transition: stroke .5s ease-out .1s;
}

#blade:hover, #blade:active {
	fill: #aa0c0c;
	fill-opacity: .8; /* 0-1 */
	stroke: #d8d80b;
	stroke-width: .10em;
	stroke-opacity: .5; /* 0-1 */
	stroke-linejoin: round; 
}

#dot {
	fill: #fff;

	transition: fill;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	transition-delay: .1s;
}

#dot:hover, #dot:active {
	fill: #aa0c0c;
	filter: url(#sawBlurred);
}